body {
    background: #f7f7f7;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .display {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    align-items: stretch;
  }
  
  .button {
    background: #1f2848;
    color: #fff;
    font: inherit;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 0.7em 1.5em;
  }
  
  button:active {
    background-color: gold;
  }
  
  input {
    border: 1px solid gold;
    border-radius: 3px;
    font: inherit;
    padding: 0.5em;
    outline: none;
  }
  
  input:focus {
    outline: auto #1f2848;
  }
  
  .item {
    padding: 1em;
    list-style-type: none;
    border-radius: 6px;
    margin-bottom: 1em;
    background: #fff;
    box-shadow: 0px 2px 4px 2px #1f2848;
  }
  
  .title {
    font-size: 100%;
    color: #1f2848;
  }
  
